{{!-- US - Gabri + Miri (breve descrip (con iconos), hashtag) + AVATARS
OUR LINKS -linkedin, github (Miriloper)
BRIEF STORY - scoville scale (wiki link)
CONTACT - un email random, (p.ej.: "if you need game support or want give hugs! send us an email to spicironcy@gmail.com") --}}

<section class="aboutUs">

<div><a href="#" target="_blank" rel="noopener noreferrer">Gabriel</a></div>
<div><a href="#" target="_blank" rel="noopener noreferrer">LinkedIN</a></div>

<div><a href="#" target="_blank" rel="noopener noreferrer">Miriam</a></div>
<div><a href="#" target="_blank" rel="noopener noreferrer">LinkedIN</a></div>


</section>