<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Spicy Grilles</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <nav>
    <ul>
      <li><a href="/"><img src="/images/Logo.png" alt="logo"></a></li>

      {{#unless playerON}}

      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/signup">Signup</a></li>
      {{/unless}}

      {{#if playerON}}

      <li><a href="/lobby">Play</a></li>
      <li><a href="/ranking">Ranking</a></li>
      <li><a href="/auth/logout">Logout</a></li>
      {{/if}}
    </ul>
  </nav>

  {{{body}}}

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
  <script src="/javascripts/script.js"></script>

</body>

</html>