<section class="lobby">

  <form id="timeButton" action="/play" method="GET">

  <a type="submit" href="/play"/>P L A Y</a>
  
  </form>



<script src="/javascripts/timeButton.js"></script>

</section>  