<section class="lobby">
  <form id="timeButton" action="/play" method="GET">
  <a type="submit" href="/play"/>P L A Y</a>
  </form>

  <a href="#">Invite your friends</a>

  <a href="#">How To</a>

<script src="/javascripts/timeButton.js"></script>

</section>  