<section class="lobby">

<div>
  <form id="timeButton" action="/play" method="GET">
    <a type="submit" href="/play" />P L A Y</a>
  </form>
</div>
  
   
     <div class="ready">
      <form action="/addPlayer" method="POST">
        <button type="submit" >Ready!</button>
      </form>
   </div>

   

  <script src="/javascripts/timeButton.js"></script>

</section>