<section class="lobby">
  
   
     <div>
      <form action="/addPlayer" method="POST">
        <button type="submit" >Ready!</button>
      </form>
   </div>

   

  <script src="/javascripts/timeButton.js"></script>

</section>