<section class="lobby">

  <form id="timeButton" action="/play" method="GET">

    <a type="submit" href="/play" />P L A Y</a>

  </form>

  <ul>
    {{#each player}}

    {{!-- {{#if req.user_id = this.user_id}} --}}

    <li>
      {{this.username}}
      <form action="/addPlayer" method="POST">
        <button type="submit" class="ready">Ready!</button>
      </form>
    </li>

    {{!-- {{/if}} --}}

    {{/each}}
  </ul>

  <script src="/javascripts/timeButton.js"></script>

</section>