<section class="game">

  <div id="mapCanvas"></div>

</section>

<script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLEMAPSAPIKEY}}"></script>
<script src="/javascripts/main-interactive.js"></script>