<section class="game">

  <div id="mapCanvas"></div>

  <canvas id="energyCanvas"></canvas>

  <div class="sp">

    <div> Points: {{pointsMatch}}</div>


    <div> Energy: {{energyMatch}}</div>

    

  </div>

</section>

<script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLEMAPSAPIKEY}}"></script>
<script src="/javascripts/main-interactive.js"></script>