<section class="game">

  <div id="mapCanvas"></div>
  
  <div class="sp">

    <div>Points: <span id="points">{{pointsMatch}}</span></div>


    <div>Energy: {{energyMatch}}</div>

    <div><button id="finish">Finish Turn</button></div>
    <div><img src="/images/Clock.gif" alt="clock"></div>

  </div>



</section>
<script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLEMAPSAPIKEY}}"></script>
<script src="/javascripts/main-interactive.js"></script>
