<section class="game">

  <div id="mapCanvas"></div>
  
<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
</div>
  {{!-- <canvas id="energyCanvas"></canvas> --}}

  <div class="sp">

    <div>Points: <span id="points">{{pointsMatch}}</span></div>


    <div> Energy: {{energyMatch}}</div>

    <button id="finish">Finish Turn</button>

  </div>



</section>
<script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLEMAPSAPIKEY}}"></script>
<script src="/javascripts/main-interactive.js"></script>
{{!-- <script src="/javascripts/canvas.js"></script> --}}