<section class="ranking">

{{!-- <ol>

<li><span>Name</span> <span>Score</span></li>
<li><span>Miriam</span> <span>940</span></li>
<li><span>Pepa</span> <span>690</span></li>
<li><span>Nacho</span> <span>550</span></li>
<li><span>Ivan</span> <span>540</span></li>
<li><span>Meri</span> <span>370</span></li>
<li><span>Sito</span> <span>540</span></li>
<li><span>Luca</span> <span>240</span></li>
</ol> --}}





<div>Miriam</div>
<div>Ivan</div>
<div>Sito</div>
<div>Luca</div>
<div>Dani</div>
<div>Francho</div>
<div>Javi</div>
<div>Carlos</div>
<div>Sergio</div>

</section>