// Body
body {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 3rem;
  background: linear-gradient(to bottom right, #36d1dc, #5b86e5);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  touch-action: none;
  background-color: transparent;
}

// Nav Bar
nav {
  box-sizing: border-box;

  ul {
    display: flex;
    justify-content: flex-end;
    li {
      padding-right: 5rem;
    }
    a {
      text-decoration: none;
      color: whitesmoke;
      font-size: 1.3rem;

      img {
        width: 4rem;
        height: 4rem;
        position: absolute;
        left: 3rem;
        top: 2rem;
        border: 0.4rem solid white;
        padding: 0.5rem;
        border-radius: 2rem;
        opacity: 0.8;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

// Login && SignUp Page
.login,
.signup {
  width: 100%;
  height: 100vh;

  animation: fadeIn 3s;
  transition: all 3s;
  padding: 6rem;
  h2 {
    margin: 2.5em 0;
    font-size: 2rem;
    text-align: center;
    color: whitesmoke;
  }

  form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    input {
      margin: 1.5rem 0;
      border-radius: 2rem;
      width: 8rem;
      height: 2rem;
      text-align: center;
      color: rgba(50, 152, 50, 1);
      font-size: 1rem;
      &::placeholder {
        text-align: center;
        color: rgba(50, 152, 50, 0.5);
      }
    }
    .error-message {
      background: rgba(222, 10, 10, 0.4);
      color: whitesmoke;
      border: 0.1rem solid rgba(222, 10, 10, 0.4);
      border-radius: 2rem;
      padding: 1rem;
      font-size: 1rem;
    }
    button {
      margin: 1.5rem 0;
      border-radius: 2rem;
      width: 8rem;
      height: 2rem;
      font-size: 1rem;
      color: rgba(50, 152, 50, 1);
    }
    p {
      margin: 1.2rem 0;
      font-size: 1rem;
      color: rgba(255, 255, 255, 0.6);
      a {
        text-decoration: none;
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}

//Home Page
.home {
  width: 100%;
  height: 100vh;

  animation: fadeIn 3s;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 5rem;
    color: antiquewhite;
  }

  img {
    width: 10rem;
    height: 10rem;
    margin-top: 5rem;
    transition: all 3s;
    &:hover {
      animation: rotate 2s;
    }
  }

  a {
    margin-top: 5rem;
    text-decoration: none;
    font-size: 3rem;
    color: rgb(15, 171, 15);
    text-align: center;
    text-justify: auto;
    transition: all 1s;
    background-color: rgba(255, 255, 255, 0.762);
    border-radius: 2rem;
    padding: 2rem 5rem;
  }
  a:hover {
    transform: scale(1.5, 1.5);
  }
}

//Profile
.profile {
  width: 100vw;
  height: 100vh;

  margin-top: -5rem;
  animation: fadeIn 3s;
  display: flex;
  justify-content: space-around;

  h3 {
    font-size: 4rem;
  }
  .aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      margin: 2rem;
      width: 15rem;
      height: 15rem;
      border-radius: 2rem;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      button {
        margin-top: 2rem;
        padding: 0.5rem;
        border-radius: 2rem;
      }
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20rem;
    margin-top: 20rem;

    h3 {
      color: antiquewhite;
    }
    .medals {
      color: antiquewhite;
      font-size: 2.5rem;
      margin-top: 2rem;
      text-align: center;
      background-color: #5b87e5ad;
      border-radius: 2rem;
      padding-top: 3rem;
      div {
        padding: 7rem;
      }
    }
  }
}

// Lobby
.lobby {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 10rem;
.ready {
  background: transparent;
}
  form {
    a {
      text-decoration: none;
      color: rgb(15, 171, 15);
    }
    
    margin-top: 5rem;
    font-size: 3rem;
    text-align: center;
    text-justify: auto;
    transition: all 1s;
    background-color: rgba(255, 255, 255, 0.762);
    border-radius: 2rem;
    padding: 2rem 5rem;

    &:hover {
      transform: scale(1.5, 1.5);
    }
  }

  ul {
    margin-top: 2rem;
    color: whitesmoke;
    font-size: 1.5rem;
    li {
      margin-top: 2rem;

      button {
        margin-left: 2rem;
        padding: 0.5rem;
        border-radius: 2rem;
        opacity: 0.7;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

// Play (Map)
.game {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 5rem;

  #mapCanvas {
    width: 80vw;
    height: 70vh;
    border: 0.2rem solid whitesmoke;
    border-radius: 2rem;
    z-index: 0;
  }
  .sp {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      padding: 1rem;
      color: whitesmoke;
      font-size: 1rem;
    }

    img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }
  }
}

// Ranking

.ranking {
  width: 100vw;
  height: 100vh;
  color: whitesmoke;
  font-size: 1rem;
  text-align: center;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  div {
    margin-top: 2rem;
    border: 0.5rem solid wheat;
    border-radius: 2rem;
    width: 10rem;
    text-align: center;
    padding: 1rem;
    &:hover {
      transform: scale(1.5, 1.5);
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
