// Body
body {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 3rem;
  background: linear-gradient(to bottom right, #36d1dc, #5b86e5);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

// Nav Bar
nav {
  ul {
    display: flex;
    justify-content: flex-end;
    li {
      margin-right: 5rem;
    }
    li:last-child {
      margin-right: 6rem;
    }
    a {
      text-decoration: none;
      color: whitesmoke;
      font-size: 1.3rem;
      img {
        width: 4rem;
        height: 4rem;
        position: absolute;
        left: 3rem;
        top: 2rem;
        border: 0.4rem solid white;
        padding: 0.5rem;
        border-radius: 2rem;
        opacity: 0.8;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

// Login && SignUp Page
.login,
.signup {
  animation: fadeIn 3s;
  transition: all 3s;
  padding: 6rem;
  h2 {
    margin: 2.5em 0;
    font-size: 2rem;
    text-align: center;
    color: whitesmoke;
  }

  form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    input {
      margin: 1.5rem 0;
      border-radius: 2rem;
      width: 8rem;
      height: 2rem;
      text-align: center;
      color: rgba(50, 152, 50, 1);
      font-size: 1rem;
      &::placeholder {
        text-align: center;
        color: rgba(50, 152, 50, 0.5);
      }
    }
    .error-message {
      background: rgba(222, 10, 10, 0.4);
      color: whitesmoke;
      border: 0.1rem solid rgba(222, 10, 10, 0.4);
      border-radius: 2rem;
      padding: 1rem;
      font-size: 1rem;
    }
    button {
      margin: 1.5rem 0;
      border-radius: 2rem;
      width: 8rem;
      height: 2rem;
      font-size: 1rem;
      color: rgba(50, 152, 50, 1);
    }
    p {
      margin: 1.2rem 0;
      font-size: 1rem;
      color: rgba(255, 255, 255, 0.6);
      a {
        text-decoration: none;
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}

//Home Page
.home {
  animation: fadeIn 3s;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 5rem;
    color: antiquewhite;
  }

  img {
    width: 10rem;
    height: 10rem;
    margin-top: 5rem;
    transition: all 3s;
    &:hover {
      animation: rotate 2s;
    }
  }

  a {
    margin-top: 5rem;
    text-decoration: none;
    font-size: 3rem;
    color: rgb(15, 171, 15);
    text-align: center;
    text-justify: auto;
    transition: all 1s;
    background-color: rgba(255, 255, 255, 0.762);
    border-radius: 2rem;
    padding: 2rem 5rem;
  }
  a:hover {
    transform: scale(1.5, 1.5);
  }
}

//Profile

.profile {
  margin-top: 8rem;
  animation: fadeIn 3s;
  display: flex;
  flex-direction: column;
  align-items: center;

  .avatar {
    margin: 2rem;
    background-color: chartreuse;
    border: 1rem solid whitesmoke;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
